.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 24px;
  background: #ffffff;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1), 0px 0.4px 6.5px rgba(0, 0, 0, 0.05);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 44px;

    .logo-text {
      font-size: 20px;
      color: #262626;
      font-weight: 700;
      margin-left: 8px;
    }
  }

  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-item {
      list-style: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #262626;
      margin-right: 24px;
      text-decoration: none;
    }

    .navbar-item:last-child {
      margin-right: 0;
    }
  }

  &-search {
    display: flex;
    justify-content: center;
    align-items: center;

    .search-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 16px;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }

    .user-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }

    .burger-btn {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    padding: 20px 16px 20px 16px;

    &-menu {
      display: none;
    }

    .search-btn {
      width: 32px;
      height: 32px;
    }

    .user-btn {
      display: none;
    }

    .burger-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}
